executor: slurm
default-resources:
    slurm_account: 
    slurm_partition: 
    mem_mb_per_cpu: 8000
    runtime: "60m"

use-apptainer: true
keep-going: true
rerun-incomplete: true
jobs: 100
singularity-args: '-B /../ENEO_res -B /../ENEO_temp -B /../ENEO_output -B /../ENEO/workflow --env TMPDIR=/../ENEO_temp'